In [3]:
#assing a variable to a list
my_list=[1,2,3]
print(my_list)

[1, 2, 3]

In [4]:
#indexing and slicing of strings
my_list=['one','two','three',4,5]
my_list

['one', 'two', 'three', 4, 5]

In [7]:
my_list[0]

'one'

In [13]:
#grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [14]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [17]:
#We can also use + to concatenate lists, just like we did for strings
my_list + ['six', 'seven']

['one', 'two', 'three', 4, 5, 'six', 'seven']

In [18]:
my_list

['one', 'two', 'three', 4, 5]

In [19]:
# Reassign
my_list = my_list + ['add new item permanently']

In [20]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [31]:
# Make the list double
my_list *2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [22]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [23]:
# Create a new list
list1 = [1,2,3]

In [24]:
#append
list1.append('append me!')

In [25]:
list1

[1, 2, 3, 'append me!']

In [26]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [29]:
#show
list1

[2, 3]

In [32]:
#assign the popped using pop() the default index is -1
my_list
print(my_list)

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [33]:
popped_item=my_list.pop()
print(popped_item)

add new item permanently

In [34]:
#show remaining liste items
my_list

['one', 'two', 'three', 4, 5]

In [35]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [37]:
# Use reverse to reverse order (this is permanent!
new_list.reverse()
new_list

['a', 'e', 'x', 'b', 'c']

In [39]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending
new_list.sort()
print(new_list)
new_list=[3,1,2,6,5,0,8,9]
new_list.sort()
print(f"this a sorted number list\n{new_list}")

['a', 'b', 'c', 'e', 'x']
this a sorted number list
[0, 1, 2, 3, 5, 6, 8, 9]

In [40]:
#nested listing
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [41]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [42]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [43]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [44]:
#List Comprehensions
#building  a list comphrension by deconstructing a for loop within a []
print(matrix)
first_col = [row[0] for row in matrix]
#we take the first item in matrix
print(first_col)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 4, 7]