In [4]:
s='Hello World concatenate me!'

s

'Hello World concatenate me!'

In [6]:
s.upper()

'hello world concatenate me!'

In [7]:
s.lower()

'hello world concatenate me!'

In [8]:
#split the string by balnk spaces (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [12]:
#split by element (doesn't include element that was split on)
s= 'we were going to church at Wrere Wasp'
s.split('Werere')

['we were going to church at Wrere Wasp']

In [14]:
'Insert another string with curly brackets {} '.format('this is a inserted')

'Insert another string with curly bracketsthis is a inserted '

In [16]:
#using the %s modulo sign to inject strings. the The modulo % is referred to as a "string formatting operator".
'I am going to insert %s here' %'something'

'I am going to insert something here'

In [20]:
print('i am going to add %s text here and some %s text here' %('some','more'))

i am going to add some text here and some more text here

In [21]:
#You can also pass variable names
x,y = 'some','more'
print('i am going to add %s text here and some %s text here' %(x,y))

i am going to add some text here and some more text here

In [22]:
print('He said his name was %s' %'Fred')
print('He said his name was %r' %'Fred')

He said his name was Fred
He said his name was 'Fred'

In [23]:
#As another example, \t inserts a tab into a string.
print('She said her fish was this %s' %'\tbig')
print('She said her fish was this %r' %'\tbig')

She said her fish was this 	big
She said her fish was this '\tbig'

In [25]:
# %s converts into a string while %d converts into an interger without rounding
print('I have written %s programs today' %'3.75')
print('I have written %d programs today' %3.75)

I have written 3.75 programs today
I have written 3 programs today

In [26]:
print ('Floating point nummbers: %5.2f' %13.4444444)

Floating point nummbers: 13.44

In [28]:
print ('Floating point nummbers: %1.0f' %13.4444444)

Floating point nummbers: 13

In [29]:
print('Floating point numbers: %1.5f' %(13.144))

Floating point numbers: 13.14400

In [30]:
print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers:                     13.14

In [32]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'
First: hi!, Second:  3.14, Third: 'bye!'

In [34]:
#formating using the .format()
print('add string {} here and string {} here' .format('1','2'))

add string 1 here and string 2 here

In [39]:
#Inserted objects can be called by index position:
print('{}, {}, {}' .format('a ', 'b ', 'c '))

a , b , c

In [44]:
#Inserted objects can be assigned keywords:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1, b='Two', c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3
First Object: 1, Second Object: Two, Third Object: 12.3

In [45]:
#Inserted objects can be reused, avoiding duplication:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

In [2]:
#formated string literals:
name='fred'
print(f'He said his name is {name} ')

He said his name is fred

In [5]:
#Pass !r to get the string representation:
print(f'he said his name is{ name!r}')

he said his name is'fred'

In [20]:
# alignment padding and precision with the .format()
print('{0:8} | {1:1}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:4}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |  3.0
Oranges  |        10

In [17]:
#pass an optional <,^, or > to set a left, center or right alignment:
print('{0:=<8} | {1:-^16} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -----Center----- | ...Right
Left==== | -Center- | ...Right
11====== | ---22--- | ......33